{
	{$CADDY_GLOBAL_OPTIONS}

	order php_server before file_server
}

{$CADDY_EXTRA_CONFIG}

{$SERVER_NAME:localhost} {

    handle /.well-known/mercure* {
        mercure {
            anonymous
            cors_origins *
        }
    }

	{$CADDY_SERVER_EXTRA_DIRECTIVES}

	handle {
		root * /srv/www/

		@indexFiles file {
			try_files {path} index.php
			split_path .php
		}
		rewrite @indexFiles {http.matchers.file.relative}

		encode zstd gzip

		php_server {$FRANKENPHP_CONFIG}
	}
}
