# see https://doc.nette.org/en/configuring
parameters:


application:
	errorPresenter:
		4xx: Error:Error4xx
		5xx: Error:Error5xx
	mapping: App\Presentation\*\**Presenter


di:
	lazy: yes
	export:
		parameters: yes
		tags: '%debugMode%'

database:
	dsn: 'sqlite::memory:'
	user:
	password:


latte:
	strictTypes: yes
	strictParsing: yes
	extensions:
		- App\Presentation\Accessory\LatteExtension(%runner%, %hotReloadUrl%)

mercure:
	one:
		url: '%baseUrl%/.well-known/mercure'
		jwt:
			secret: n3tt3-m3rcµr3-fr4nk3nphP-jwT-s3cr3t-k3y

	two:
		url: '%baseUrl%/.well-known/mercure'
		jwt:
			secret: n3tt3-m3rcµr3-fr4nk3nphP-jwT-s3cr3t-k3y

assets:
	mapping:
		default:
			path: assets
			type: vite  # Uncomment to activate Vite for asset building

		favicon:
			path: favicon
			extension: ico
		img:
			path: img
			extension: [png, jpg, jpeg, gif, svg, webp]

tracy:
	strictMode: yes
	dumpTheme: dark
	bar:
		- App\Core\Tracy\RunnerPanel('%runner%')
		- App\Core\Tracy\PhpInfoPanel

# extensions:
# 	mercure: Nette\Mercure\DI\MercureExtension(%debugMode%)  # Uncomment to activate Nette Mercure extension

